{% extends "blog/base.html" %}

{% block content %}
<div class="d-flex justify-content-between mb-4">
    <h2>Мои заявки</h2>
    <form method="get" class="form-inline">
        <div class="input-group">
            <input type="text" 
                   name="q" 
                   class="form-control mr-2" 
                   placeholder="Поиск по организациям"
                   value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button class="btn btn-outline-primary mr-2" type="submit">
                    <i class="fas fa-search"></i> Найти
                </button>
                {% if request.GET.q %}
                <a href="{% url 'blog:application-list' %}" class="btn btn-outline-secondary">
                    <i class="fas fa-times"></i> Сбросить
                </a>
                {% endif %}
            </div>
        </div>
    </form>
</div>

{% include 'blog/partials/application_table.html' %}

{% endblock %}