<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчетность | ФИН</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/report.css">
</head>

<body>
    <div class="layout">
        <!-- Боковое меню (sidebar) -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <img src="/static/blog/images/logo_FIN_white.svg" alt="ФИН">
                </div>
            </div>

            <nav class="sidebar-nav">
                <!-- Главная панель -->
                <div class="nav-section">
                    <ul class="nav-menu">
                        <a href="#">Главная панель</a>
                        <ul class="submenu">
                            <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">Сводка</a></li>
                        </ul>
                        <li class="has-submenu">
                            <a href="#">Финансы</a>
                            <ul class="submenu">
                                <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">Доходы</a></li>
                                <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">Расходы</a></li>
                                <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">Категории</a>
                                </li>
                                <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">Все операции</a>
                                </li>
                                <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">Аналитика</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Отчетность</a>
                            <ul class="submenu">
                                <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">Налоги и
                                        взносы</a></li>
                                <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">Готовые
                                        отчеты</a></li>
                                <li><img src="/static/blog/images/Chat_plus_light.svg" alt="chat"><a href="#">Новый
                                        отчёт</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Планирование</a>
                            <ul class="submenu">
                                <li><img src="/static/blog/images/Bell_pin_light.svg" alt="pin"><a
                                        href="#">Напоминания</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Справочная</a>
                            <ul class="submenu">
                                <li><img src="/static/blog/images/Chat_search_light.svg" alt="search"><a href="#">Статьи
                                        и инструкции</a></li>
                                <li><img src="/static/blog/images/faq.svg" alt="faq"><a href="#">FAQ</a></li>
                                <li><img src="/static/blog/images/texting.svg" alt="text"><a href="#">Поддержка</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Тарифы</a>
                            <ul class="submenu">
                                <li><img src="/static/blog/images/star.svg" alt="star"><a href="#">Мой тариф</a>
                                </li>
                                <li><img src="/static/blog/images/Arrow.svg" alt="Arrow"><a href="#">Продлить
                                        подписку</a></li>
                                <li><img src="/static/blog/images/folder.svg" alt="folder"><a href="#">История
                                        платежей</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Настройки</a>
                            <ul class="submenu">
                                <li><img src="/static/blog/images/User_cicrle.svg" alt="User_cicrle"><a href="#">Мой
                                        профиль</a>
                                </li>
                                <li><img src="/static/blog/images/Sign_out_circle.svg" alt="Sign_out_circle"><a
                                        href="#">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </aside>


        <!-- Основной контент -->
        <main class="main-content">
            <!-- Шапка с синим фоном -->
            <header class="dashboard-header">
                <h1>Отчетность</h1>
                <div class="user-profile">
                    <div class="profile-info">
                        <h2 class="profile-name">Кириллова Ирина</h2>
                    </div>
                    <div class="avatar">
                        <img src="/static/blog/images/ava.svg" alt="аватар">
                    </div>
                </div>
            </header>

            <!-- Готовые отчеты -->
            <section class="reports-section">
                <h2>Готовые отчеты</h2>

                <div class="filters">
                    <input type="text" placeholder="Фильтр по дате" class="filter-input">
                    <select class="filter-select">
                        <option>Тип отчета</option>
                    </select>
                </div>

                <table class="reports-table">
                    <thead>
                        <tr>
                            <th>Период</th>
                            <th>Тип отчета</th>
                            <th>Наименование</th>
                            <th>Статус</th>
                            <th>Файлы</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сентябрь 2025</td>
                            <td>Зарплата</td>
                            <td>ООО "Вектор"</td>
                            <td class="amount positive">+99 400 ₽</td>
                            <td><button class="btn-file"><img src="/static/blog/images/arrow-down.svg" alt="ardown"></button></td>
                        </tr>
                        <tr>
                            <td>25-30.09.2025</td>
                            <td>Продукты</td>
                            <td>Супермаркет "ВкуСвилл"</td>
                            <td class="amount negative">-5 248 ₽</td>
                            <td><button class="btn-file"><img src="/static/blog/images/arrow-down.svg" alt="ardown"></button></td>
                        </tr>
                        <tr>
                            <td>01-04.10.2025</td>
                            <td>Транспорт</td>
                            <td>Яндекс.Такси</td>
                            <td class="amount negative">-589 ₽</td>
                            <td><button class="btn-file"><img src="/static/blog/images/arrow-down.svg" alt="ardown"></button></td>
                        </tr>
                        <tr>
                            <td>Октябрь 2025</td>
                            <td>Перевод</td>
                            <td>Иванова А.С.</td>
                            <td class="amount negative">-5 000 ₽</td>
                            <td><button class="btn-file"><img src="/static/blog/images/arrow-down.svg" alt="ardown"></button></td>
                        </tr>
                        <tr>
                            <td>03.10.2025</td>
                            <td>Фриланс</td>
                            <td>ООО "Альфа"</td>
                            <td class="amount positive">+8 500 ₽</td>
                            <td><button class="btn-file"><img src="/static/blog/images/arrow-down.svg" alt="ardown"></button></td>
                        </tr>
                        <tr>
                            <td>06.10.2025</td>
                            <td>Развлечения</td>
                            <td>Кинопрокат "Синема"</td>
                            <td class="amount negative">-1 500 ₽</td>
                            <td><button class="btn-file"><img src="/static/blog/images/arrow-down.svg" alt="ardown"></button></td>
                        </tr>
                        <tr>
                            <td>Июль 2025</td>
                            <td>Перевод</td>
                            <td>Кириллова П.В.</td>
                            <td class="amount positive">+14 475 ₽</td>
                            <td><button class="btn-file"><img src="/static/blog/images/arrow-down.svg" alt="ardown"></button></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Налоги и взносы -->
            <section class="taxes-section">
                <h2>Налоги и взносы</h2>
                <div class="search">
                    <input type="text" placeholder="Введите название" class="filter-input">
                    <button><img src="/static/blog/images/Search_light.svg" alt="Search_light"></button>
                </div>
                <table class="taxes-table">
                    <thead>
                        <tr>
                            <th>Период</th>
                            <th>Информация по налогу/взносу</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сентябрь 2025</td>
                            <td>
                                <strong>Налог на прибыль</strong><br>
                                Авансовый платеж за 3 квартал 2025 года. Сумма к уплате: ~45 200 ₽.
                            </td>
                        </tr>
                        <tr>
                            <td>25-30.09.2025</td>
                            <td>
                                <strong>НДФЛ за сотрудников</strong><br>
                                За октябрь 2025 года. Сумма уточняется.
                            </td>
                        </tr>
                        <tr>
                            <td>01-04.10.2025</td>
                            <td>
                                <strong>Страховые взносы (ИП)</strong><br>
                                Фиксированный взнос за 2025 год. Ориентировочная сумма: 45 842 ₽.
                            </td>
                        </tr>
                        <tr>
                            <td>Октябрь 2025</td>
                            <td>
                                <strong>НДС</strong><br>
                                Авансовый платеж за 3 квартал 2025 года. Сумма к уплате: ~121 500 ₽.
                            </td>
                        </tr>
                        <tr>
                            <td>01-04.10.2025</td>
                            <td>
                                <strong>Торговый сбор</strong><br>
                                За 4 квартал 2025 года. Сумма к уплате: ~18 700 ₽.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>

</html>